@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;

    .topNav{
        width: 100%;
        height: $topNavHeight;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        box-shadow: $boxShadowLight;
    }

    .nav{
        width: $navWidth;
        height: calc(100%);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: white;
        z-index: 3;
        box-shadow: $boxShadowLight;
        transition: transform 0.3s ease-in-out;
    }

    .content{
        position: relative;
        width: 100%;
        padding-left: $navWidth;
        margin-top: $topNavHeight;
    }

    @include sm{
        .nav{
            transform: translateX(-100%);

            &.show{
                transform: translateX(0);
            }
        }
        
        .content{
            padding-left: 0;
        }
    }
}