$mainColorDark: #448F67;
$mainColorLight: #43c881;

// Style
$borderLight: #d3d3d3;
$boxShadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
$boxShadowDark: 0px 2px 4px rgba(0, 0, 0, 0.25);
$boxShadowLight: 0px 2px 4px rgba(126, 126, 126, 0.12);