@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.wrapper{
    width: 100%;
    @include pagePadding;

    &.noSidePadding{
        padding-left: 0!important;
        padding-right: 0!important;
    }
}